{% extends 'base.html.twig' %}

{% block title %}{{ 'none.admin-head.title'|trans }} &mdash; {{ parent() }}{% endblock %}

{% block header %}
  {% include '_header_admin.twig' %}
{% endblock %}

{% block body %}
  <main class="body-content-container">
    <div class="column row">
      <h1>{{ 'project.groups-projects-list.h1'|trans }}</h1>
      {% for group in groups %}
        <h2>{{ group.name }}</h2>
        <table class="scroll">
          <thead>
            <tr>
              <th>{{ 'project.groups-projects-list.project-topic'|trans }}</th>
              <th class="text-center">{{ 'project.groups-projects-list.options'|trans }}</th>
            </tr>
          </thead>
          <tbody>
            {% for project in group.projects %}
              <tr>
                <td>{{ project.topic }}</td>
                <td>
                   <a href="{{ path('project_edit', {'id' : project.id}) }}" class="hollow button">{{ 'project.groups-projects-list.edit'|trans }}</a>
                   <a href="{{ path('project_delete', {'id' : project.id}) }}" class="hollow button" onclick="return confirm('{{ 'project.groups-projects-list.confirm'|trans }}');">{{ 'project.groups-projects-list.delete'|trans }}</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
  </main>
{% endblock %}
