{% extends 'base.html.twig' %}

{% block title %}{{ 'none.user-head.title'|trans }} &mdash; {{ parent() }}{% endblock %}

{% block header %}
  {% include '_header_user.twig' %}
{% endblock %}

{% block body %}
  <main class="body-content-container">
    <div class="row">
      <div class="small-12 columns">
        <h1>{{ 'project.submit-form.h1'|trans }}</h1>
        <a href="{{ path('project_submit') }}" class="hollow button">{{ 'project.anchor.presubmit'|trans }}</a>
      </div>
    </div>
  </main>
{% endblock %}
