{% extends 'base.html.twig' %}
{# {% form_theme form 'form/logged_in.html.twig' %} #}

{% block title %}{{ 'none.user-head.title'|trans }} &mdash; {{ parent() }}{% endblock %}

{% block header %}
  {% include '_header_user.twig' %}
{% endblock %}

{% block body %}
  <main class="body-content-container">
    <div class="row">
      <div class="large-8 columns">
        <p>{{ 'project.summary.project-topic'|trans }}</p>
        <p class="stat">Ewidencja płatności za wynajem mieszkań</p>
      </div>
      <div class="large-4 columns">
        <p>{{ 'project.summary.reviewer'|trans }}</p>
        <p class="stat">Marcin Bielecki</p>
      </div>
    </div>

    <div class="row">
      <div class="large-8 columns">
        <p>{{ 'project.summary.date'|trans }}</p>
        <p class="stat">2016-01-21</p>
      </div>
      <div class="large-4 columns">
        <p>{{ 'project.summary.mark'|trans }}</p>
        <p class="stat">4.5</p>
      </div>
    </div>
  </main>
{% endblock %}
