{% extends 'base.html.twig' %}

{% block body_class %}landing-page{% endblock %}

{% block body %}
  <section class="row">
    <div class="small-12 columns text-center absolute-center">
      <span class="landing-page-logo fa fa-graduation-cap"></span>
      <h1 class="landing-page-header">{{ 'index.landing-page.h1'|trans }}</h1>
      <a href="{{ path('signup') }}" class="large button landing-page-btn">{{ 'index.landing-page.register'|trans }}</a>
      <a href="{{ path('login') }}" class="large button landing-page-btn">{{ 'index.landing-page.login'|trans }}</a>
    </div>
  </section>
{% endblock %}
