<!doctype html>
<html class="no-js" lang="pl" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ 'none.head.title'|trans }}{% endblock %}</title>
    <link rel="stylesheet" href="/assets/stylesheets/main.css">
    <link rel="icon" href="/favicon.ico">
  </head>
  <body class="{% block body_class %}{% endblock %}">
    {% for message in app.session.getFlashBag.get('message') %}
      <div class="callout {{ message.type }}">
        <button class="close-button" aria-label="Close alert" type="button" id="notification-close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p><span class="fa fa-{{ message.icon }} fa-{{ message.type }}"></span>&ensp;{{ message.content }}</p>
      </div>
    {% endfor %}
    {% block header %}{% endblock %}
    {% block body %}{% endblock %}
    <script src="/assets/javascripts/jquery.min.js"></script>
    <script src="/assets/javascripts/main.js"></script>
  </body>
</html>
