{% extends 'base.html.twig' %}

{% block title %}{{ 'none.admin-head.title'|trans }} &mdash; {{ parent() }}{% endblock %}

{% block header %}
  {% include '_header_admin.twig' %}
{% endblock %}

{% block body %}
  <main class="body-content-container">
    <div class="row" data-equalizer data-equalize-on="medium">
      <div class="medium-6 columns">
        <a href="{{ path('project_list') }}">
          <div class="menu-action" data-equalizer-watch>
            <h1>{{ 'admin.menu-action.edit-topic'|trans }}</h1>
          </div>
        </a>
      </div>
      <div class="medium-6 columns">
        <a href="{{ path('group_list') }}">
          <div class="menu-action" data-equalizer-watch>
            <h1>{{ 'admin.menu-action.edit-group'|trans }}</h1>
          </div>
        </a>
      </div>
      {% if is_granted('ROLE_ADMIN') %}
        <div class="medium-6 columns end">
          <a href="{{ path('user_list') }}">
            <div class="menu-action" data-equalizer-watch>
              <h1>{{ 'admin.menu-action.edit-user'|trans }}</h1>
            </div>
          </a>
        </div>
      {% endif %}
    </div>
  </main>
{% endblock %}
